<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
    // Add your JavaScript here
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/companies', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log(data);
                // You can update the DOM here with the received data
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };
    xhr.send();
    xhr.open('GET', '/operators', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log(data);
                // You can update the DOM here with the received data
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };
    xhr.send();
    xhr.open('GET', '/computers', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log(data);
                // You can update the DOM here with the received data
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };
    xhr.send();
    xhr.open('GET', '/softwares', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log(data);
                // You can update the DOM here with the received data
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };
    xhr.send();
    xhr.open('GET', '/licenses', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                console.log(data);
                // You can update the DOM here with the received data
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };
    xhr.send();
</script>
</html>